server:
  port: 8081

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/fitnessyoga_user_db
    username: postgres
    password: Admin@2026
  jpa:
    hibernate:
      ddl-auto: update
    database-platform: org.hibernate.dialect.PostgreSQLDialect
  eureka:
    client:
      serviceUrl:
        defaultZone: http://localhost:8761/eureka/
